<div class="contributor-small col-24 col-sm-12 col-md-8 col-lg-6 with-fade-in mb-5">
    <div class="contributor-small-inner p-4">
        <a class="contributor-link" href="{{ site.baseurl }}/feministtech/principle/{{ item.principle_id }}">
            <div class="contributor-image with-shadow">
                <img class="img-responsive lazyload" data-src="{{ site.baseurl }}{{ item.img }}" />
            </div>
            <p class="contributor-title mb-0 font-basteleur text-center mt-3">{{ item.firstname }} {{ item.lastname }}</p>
        </a>
    </div>
</div>