<div class="col-24 contributor with-fade-in mb-5 pb-5">
    <div class="contributor-inner with-shadow">
        <h3 class="contributor-title">{{ item.firstname }} {{ item.lastname }} <span class="contributor-gender">({{ item.gender }})</span></h3>
        <div class="row">
            <div class="contributor-image col-24 col-sm-6">
                <img class="img-responsive" src="{{ site.baseurl }}{{ item.img }}" />
            </div>
            <div class="contributor-content col-24 col-sm-18 pl-sm-4">
                {{ item.content }}
                <div class="mt-5 d-flex">
                    {% assign link = "Go to " | append: item.firstname | append: "'s contribution" %}
                    {% assign href = site.baseurl | "/feministtech/principle/" | append: item.principle_id %}
                    {% include partials/ftf-pill.liquid text=link href=href %}
                </div>
            </div>
        </div>
    </div>
</div>