<div class="col-24 contributor with-fade-in">
    <h3 class="contributor-title">{{ item.firstname }} {{ item.lastname }} <span class="contributor-gender">({{ item.gender }})</span></h3>
    <div class="row">
        <div class="contributor-image col-24 col-sm-6">
            <img class="img-responsive" src="{{ site.baseurl }}{{ item.img }}" />
        </div>
        <div class="contributor-content col-24 col-sm-18 pl-sm-4">
            {{ item.content }}
            <a class="mt-3 event-link more-btn fade-in animated fadeInUp full-visible" href="{{ site.baseurl }}/feministtech/principle/{{ item.principle_id }}">
                <span class="more-btn-inner"><span>Go to {{ item.firstname }}'s contribution</span></span>
            </a>
        </div>
    </div>
</div>