<div class="row">
    <div class="section fellows right city-teaser col-xs-24 background-image background-{{ include.index }}">
        <div class="row city-teaser-wrap">
            <div class="col-xs-24 col-md-12 col-md-push-11">
                <div class="batch-wrap fellows fade-in">
                    <div class="batch-inner">
                        <object class="img-responsive batch-svg" data="" data-src="{{ site.baseurl }}{{ include.img }}" type="image/svg+xml" ></object>
                        <img class="img-responsive" src="{{ site.baseurl }}{{ include.profile_img }}" />
                    </div>

                </div>
            </div>
            <div class="col-xs-24 col-md-11 col-md-pull-11">
                <div class="event-info-wrap">
                    <div class="fellow-name font-paelzer-grot-medium fade-in">
                        {{ include.name }}
                    </div>
                    <div class="fellow-link fade-in">
                        <a href="{{ include.project_link }}" target="_blank">{{ include.project }}</a>
                    </div>
                    <p class="fellow-content fade-in">
                        {{ item.description }}
                    </p>
                    {% if include.deeplink != "false" %}
                        <a class="event-link more-btn fellow fade-in" href="{{ item.link }}">
                            <span class="more-btn-inner"><span>Rrread more!</span></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>