<div class="col-24 principle with-fade-in">
    <div class="row">
        <div class="principle-left col-24 col-sm-6">
            {% if item.category %}
                <div id="{{ item.category }}" class="principle-pill">
                    <h3>{{ item.category }}</h3>
                </div>
            {% endif %}
        </div>
        <div class="principle-right col-24 col-sm-18 pl-sm-4">
            <div class="principle-content pb-5">
                <a href="{{ item.url }}">
                    <h3 class="mb-1">{{ item.title }}</h3>
                </a>
                {{ item.description }}
            </div>
        </div>
    </div>
</div>