
        <!-- js libs -->
        <script src="{{ "/assets/js/vendor/jquery.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/logger.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/jquery.fitvids.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/bootstrap.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/jquery.stickr.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/jquery.viewportchecker.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/greensock/TweenMax.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/greensock/TimelineMax.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/scrollmagic/ScrollMagic.min.js" | relative_url }}"></script>
        <script src="{{ "/assets/js/vendor/scrollmagic/plugins/animation.gsap.min.js" | relative_url }}"></script>

        <!-- js custom -->
        <script src="{{ "/assets/js/main.js?v=2.1" | relative_url }}"></script>

        <script>
            jQuery(document).ready(function($) {
                window.controller = new Controller($);
                window.controller.init();
            });
        </script>



</body>
</html>
