{% if post.link.size > 0 %}
    <a href="{{ post.link }}" target="_blank" class="talk-teaser with-shadow mb-5">
{% else %}
    <div class="talk-teaser with-shadow mb-5">
{% endif %}
    <div class="row">
        <div class="col-24 col-sm-6">
            <h3 class="fontsize-40 uppercase">{{ post.date | date: "%b %-d"}}<br>{{ post.date | date: "%Y"}}</h3>
            <span class="fontsize-22">{{ post.location }}</span>
        </div>
        <div class="col-24 col-sm-18">
            <h3 class="fontsize-40 uppercase">{{ post.title }}</h3>
            <span class="fontsize-22 orange uppercase">{{ post.type }}</span>
        </div>
    </div>
{% if post.link.size > 0 %}
</a>
{% else %}
</div>
{% endif %}