<div class="row no-margin footer-wrap content-wrap navigation-left-victim w-100">
    <div class="section col-24 padded-top footer background-image-footer {{ include.page_type }} with-shadow {% if include.page_type == 'fellows' %}grey{% endif %}">
        {% if include.page_type == 'fellows' %}
            <div class="content-wrap-inner shrinked pb-5 px-5">
                <p class="fellows-info-footer text-center">
                    The Feminist Tech Framework is supported by the program Reducing Inequalities Through Intersectional Practice of <a href="https://www.bosch-stiftung.de/en/project/support-program-reducing-inequalities-through-intersectional-practice" target="_blank">Robert Bosch Stiftung</a>.
                </p>
            </div>
        {% endif %}
        <div class="content-wrap-inner">
            <div class="newsletter-signup-wrap">
                <h3 class="fontsize-40 text-center pb-5">Stay in touch!<br>Sign up to our newsletter:</h3>
                <div class="d-flex justify-content-center">
                    {% if include.page_type == 'fellows' %}
                        <a class="btn-rounded-ftf fontsize-50" href="{{ site.mailchimp_signup_link }}" target="_blank">
                            Subscrrribe!
                        </a>
                    {% else if %}
                        <a class="btn-rounded orange fontsize-50" href="{{ site.mailchimp_signup_link }}" target="_blank">
                            <span class="has-arrow-left">Subscrrribe!</span>
                        </a>
                    {% endif %}
                </div>
            </div>
            <ul class="footer-links d-block d-md-flex justify-content-md-around">
                <li>
                    <a class="rounded-hover" href="/code-of-conduct">CODE OF CONDUCT</a>
                </li>
                <li>
                    <a class="rounded-hover" href="mailto:{{ site.contact_email }}">CONTACT</a>
                </li>
                <li>
                    <a class="rounded-hover" href="/impressum">IMPRESSUM</a>
                </li>
                <li>
                    <div class="social-links pt-3 pt-md-0">
                        {% if site.superrr_twitter != "" %}<a class="bg-hover" target="_blank" href="{{ site.superrr_twitter }}">
                                <i class="fab fa-twitter"></i>
                            </a>{% endif %}
                        {% if site.superrr_insta != "" %}<a class="bg-hover" target="_blank" href="{{ site.superrr_insta }}">
                                <i class="fab fa-instagram"></i>
                            </a>{% endif %}
                        {% if site.superrr_facebook != "" %}<a class="bg-hover" target="_blank" href="{{ site.superrr_facebook}}">
                                <i class="fab fa-facebook-f"></i>
                            </a>{% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>