<div class="row">
    <div class="section left min-fullheight col-24 fellows">

        <div class="row fit-to-content-mobile same-height">
            <div class="col-24 col-md-12 col-lg-10 sticky">
                <div class="batch-wrap city fellows">
                    <div class="batch-inner">
                        <img class="img-responsive" src="{{ site.baseurl }}{{ include.profile_img }}" />
                    </div>
                </div>
                <div class="batch-wrap city fellows">
                    {% if include.members|length > 0 %}
                        <p class="event-hosts fellows">
                            {% for member in include.members %}
                                {% if member.url|length > 0 %}
                                    <a class="" href="{{ member.url }}" target="_blank">{{ member.name }}</a>{% if forloop.last == false %},{% endif %}
                                {% else %}
                                    <span>{{ member.name }}</span>{% if forloop.last == false %},{% endif %}
                                {% endif %}

                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-24 col-md-12 col-lg-10 col-lg-push-2">
                <div class="city-wrap fellows">
                    <div class="fellow-project-name font-paelzer-grot-medium fade-in">
                        <div class="fellow-project-name-inner">
                            {{ include.project }}
                        </div>
                    </div>
                    <div class="event-content fellows fade-in">
                        {{ content }}
                    </div>
                    <div class="pagination">

                        {% capture the_collection %}{{ page.collection }}{% endcapture %}

                        {% if page.collection %}
                            {% assign document = site[the_collection] %}
                        {% endif %}

                        {% for links in document %}
                            {% if links.title == page.title %}
                                {% unless forloop.first %}
                                {% assign prevurl = prev.url %}
                                {% assign prevtitle = prev.title %}
                                {% endunless %}
                                {% unless forloop.last %}
                                {% assign next = document[forloop.index] %}
                                {% assign nexttitle = next.title %}
                                {% assign nexturl = next.url %}
                                {% endunless %}
                            {% endif %}
                            {% assign prev = links %}
                        {% endfor %}

                        {% if prevurl %}<a class="previous" href="{{ prevurl }}">Previous</a>{% endif %}
                        {% if nexturl %}<a class="next" href="{{ nexturl }}">Next</a>{% endif %}

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>