<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="SUPERRR is a lab and a community. We develop visions and projects with the goal to create more equitable futures. We do research, build networks and shape narratives. Superrr is playful, visionary and feminist.">
    <meta name="author" content="Superrr Lab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=2.8" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-superrr.liquid %}
    {% include opengraph-superrr.liquid %}
</head>
<body>
{% assign page_type = '' %}
{% if page.type != ''%}
    {% assign page_type = page.type %}
{% endif %}
{% if page.id != 'home' %}
    {% include header.liquid page_type=page_type %}
{% endif %}
<div class="row page-wrap-outter">
    <div class="page-wrap col-24 {{ page_type }}">
        {{ content }}
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type=page_type %}
{% include footer.liquid%}



