---
layout: ftf
---
<div class="row">
    <!-- include navigation -->
    <div class="section col-xs-24 blog">
        {% include partials/navigation.liquid page_type='fellows' contact_email=site.contact_email %}
        <div class="content-wrap blog single content-block">
            <div class="blog-post">
                <h2 class="post-headline">{{ page.title }}</h2>
                <p>By {{ page.author }} on {{ page.date | date_to_string }} </p>
                <div class="post-content text-wrap">{{ content }}</div>
            </div>
            <div class="pagination">
                {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">PREVIOUS</a>
                {% endif %}
                {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">NEXT</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="fellows" %}