<!doctype html>
<html lang="de">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=2.5" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-ftf.liquid %}
    {% include opengraph-ftf.liquid %}
</head>
<body class="feminist-tech">
{% include header.liquid page_type='fellows' %}
<div class="row page-wrap-outter">
    <div class="page-wrap col-24 fellows">
        <div class="page-content section fullwidth">
            {% include partials/navigation-left-ftf.liquid %}
            <div class="content-wrap navigation-left-victim">
                <div class="section fullwidth home-hero padded bg-white mobile-padded">
                    <div class="content-wrap-inner intro-wrap shrinked">
                        <h1 class="h1 color-ftf-red">{{ page.order }}</h1>
                        <h1 class="mb-5">{{ page.title }}</h1>
                    </div>
                    <div class="content-wrap-inner">
                        <div data-order="{{ page.order }}" class="ftf-quote">
                            <blockquote class="text-left text-md-center">
                                {{ page.description }}
                            </blockquote>
                        </div>
                    </div>
                    <div class="content-wrap-inner shrinked">
                        <div class="text-wrap">
                            {{ content }}
                        </div>
                        <div class="pagination">

                            {% capture the_collection %}{{ page.collection }}{% endcapture %}

                            {% if page.collection %}
                                {% assign document = site[the_collection] | sort: 'order' %}
                            {% endif %}

                            {% for links in document %}
                                {% if links.title == page.title %}
                                    {% unless forloop.first %}
                                    {% assign prevurl = prev.url %}
                                    {% assign prevtitle = prev.title %}
                                    {% endunless %}
                                    {% unless forloop.last %}
                                    {% assign next = document[forloop.index] %}
                                    {% assign nexttitle = next.title %}
                                    {% assign nexturl = next.url %}
                                    {% endunless %}
                                {% endif %}
                                {% assign prev = links %}
                            {% endfor %}

                            {% if prevurl %}<a class="previous" href="{{ prevurl }}">Previous</a>{% endif %}
                            {% if nexturl %}<a class="next" href="{{ nexturl }}">Next</a>{% endif %}

                        </div>

                        {% include partials/ftf-button.liquid text='All principles' href='/feministtech/principles' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="fellows" %}
{% include footer.liquid %}
