<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Superrr">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=3.0" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-superrr.liquid %}
    {% include opengraph-superrr.liquid %}
</head>
<body>
{% assign page_type = '' %}
{% if page.type != ''%}
    {% assign page_type = page.type %}
{% endif %}
{% if page.id != 'home' %}
    {% include header.liquid page_type=page.header_type %}
{% endif %}
<div class="row page-wrap-outter">
    <div class="page-wrap col-24 {{ page_type }}">
        <div class="page-content section fullwidth">
            {% include partials/navigation-left.liquid %}
            <div class="content-wrap navigation-left-victim">
                <div class="section fullwidth home-hero padded bg-white mobile-padded">
                    <div class="content-wrap-inner shrinked">

                        <h1 class="section-headline">{{ page.title }}</h1>
                        {% if page.hero_img.size > 0 %}
                                <img class="image-landscape pb-5 lazyload" data-src="{{ site.baseurl }}{{ page.hero_img }}" />
                        {% endif %}
                    </div>
                    <div class="content-wrap-inner shrinked">
                        <div class="text-wrap">
                            {{ content }}
                        </div>
                    </div>
                    <div class="content-wrap-inner shrinked">
                        <div class="pagination">

                                                {% capture the_collection %}{{ page.collection }}{% endcapture %}

                                                {% if page.collection %}
                                                    {% assign document = site[the_collection] | sort: 'order' %}
                                                {% endif %}

                                                {% for links in document %}
                                                    {% if links.title == page.title %}
                                                        {% unless forloop.first %}
                                                        {% assign prevurl = prev.url %}
                                                        {% assign prevtitle = prev.title %}
                                                        {% endunless %}
                                                        {% unless forloop.last %}
                                                        {% assign next = document[forloop.index] %}
                                                        {% assign nexttitle = next.title %}
                                                        {% assign nexturl = next.url %}
                                                        {% endunless %}
                                                    {% endif %}
                                                    {% assign prev = links %}
                                                {% endfor %}

                                                {% if prevurl %}<a class="previous" href="{{ prevurl }}">Previous</a>{% endif %}
                                                {% if nexturl %}<a class="next" href="{{ nexturl }}">Next</a>{% endif %}

                                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="lab" %}
{% include footer.liquid%}



