<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="Superrr - No Agenda. No Men*. No Bullshit.">
    <meta name="author" content="Rainbow Unicorn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/main.css?v=2.5" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
    {% include favicon-superrr.liquid %}
    {% include opengraph-superrr.liquid %}
</head>
<body>
{% assign page_type = '' %}
{% if page.type != ''%}
    {% assign page_type = page.type %}
{% endif %}
{% if page.id != 'home' %}
    {% include header.liquid page_type=page.header_type %}
{% endif %}
<div class="row page-wrap-outter">
    <div class="page-wrap col-24 {{ page_type }}">
        <div class="page-content section fullwidth">
            {% include partials/navigation-left.liquid %}
            <div class="content-wrap navigation-left-victim">
                <div class="section fullwidth home-hero padded bg-white mobile-padded">
                    <div class="content-wrap-inner shrinked">
                        <h3 class="section-headline">Superrr Project</h3>
                        <h1 class="project-headline margin-bottom-100">{{ page.title }}</h1>
                        {% if page.hero_img.size > 0 %}
                                <img class="image-landscape margin-bottom-100" src="{{ site.baseurl }}{{ page.hero_img }}" />
                        {% endif %}
                    </div>
                    <div class="content-wrap-inner shrinked">
                        <div class="text-wrap">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter/social -->
{% include partials/social.liquid page_type="lab" %}
{% include footer.liquid%}



